@charset "utf-8";




/* Media para tablets */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(to top, var(--corprimaria), var(--corsecundario));
    }

    main #login {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    main #login #imagem-div{
        height: 100%;
        width: 30%;
    }

    main #login #formulario-div{
        height: 100%;
        width: 70%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


/* Media para telas grandes */

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient(to top, var(--corprimaria), var(--corsecundario));
    }

    main #login {
        display: flex;
        flex-direction: row-reverse;
        width: 950px;
    }

    main #login #imagem-div{
        height: 100%;
        width: 50%;
    }

    main #login #formulario-div {
        width: 50%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main #login #formulario-div p {
        font-size: 1.2em;
    }

    main #login #formulario-div h1 {
        font-size: 2em;
    }
}