@charset "utf-8";

/* Paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

:root {
    --corprimaria: #49a09d;
    --corsecundario: #5f2c82;

}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--corsecundario);
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.521);
    transition: width .9s ease-in-out, height .9s ease-in-out;
}

main #login #imagem-div{
    height: 200px;
}

main #login #formulario-div{
    padding: 10px;
}

main #login #formulario-div h1 {
    text-align: center;
    margin-bottom: 10px;
}

main #login #formulario-div p {
    font-size: .8em;
}